@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$color: (
  background: #181719,
  text-color-main: #FFF,
  text-color-secondary: #828282,
  text-color-footer: #A9A9A9,
);

$font: (
  logo:  'Crimson Pro',
  primary: 'Montserrat',
  secondary: 'Lora',
);

@function color($name-color) {
  @return map-get($color, $name-color);
}

@function font($name-font) {
  @return map-get($font, $name-font)
}

$desktop: 790px;
$largeDesktop: 1200px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin largeDesktop {
  @media (min-width: #{$largeDesktop}) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: color(background);
  color: color(text-color-main);

  & .container {
    width: 94%;
    margin: 0 auto;
  }
}

header {
  padding-top: 19px;

  @include desktop {
    padding-top: 42px;
  }
  
  & .container {
    display: flex;
    justify-content: space-between;


    & .logo {
      a {
        padding: 8px;
        border: 1px solid color(text-color-main);
        color: color(text-color-main);
        font: {
          family: font(logo);
          size: 14px;
        }
        line-height: 16px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  
    nav {

      img {
        display: none;
      }

      ul {
        list-style: none;
        display: flex;

        li {
          margin-right: 86px;
        }
        
        li:nth-child(4) {
          margin-right: 0px;
        }

        li a {
          font: {
            family: font(primary);
            size: 18px;
            weight: 500;
          };
          line-height: 22px;
          color: color(text-color-main);
          text-decoration: none;
        }

        li a.active {
          border-bottom: 1px solid color(text-color-main);
          padding-bottom: 8px;
        }
        
      }

    }

    nav.mobile {
      display: none;
      position: absolute; 
      top: 0;
      left: 0;
      z-index: 3;
      background-color: color(background);
      width: 100%;
      height: 100vh;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity ease 0.5s;

      img {
        display: block;
        position: absolute;
        top: 3%;
        right: 5%;
      }

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          margin-right: 0px;
          margin-bottom: 32px;
        }
      }

      &.active {
        display: flex;
      }
      
    }
  
    & #menu-hamburguer {
      display: none;

      &.active {
        display: block;
      }
    }

  }
}

main {
  margin-top: 38px;

  @include desktop() {
   .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
   } 
  }

  .content {
    h1 {
      font: {
        family: font(secondary);
        size: 36px;
        weight: 500;
      }
      line-height: 46px;

      @include desktop() {
        font-size: 48px;
        line-height: 61px;
        max-width: 365px;
      }
    }

    p {
      margin-top: 25px;
      width: 74%;
      font: {
        family: font(primary);
        size: 14px;
        weight: 400;
      }
      line-height: 17px;

      @include desktop() {
        margin-top: 35px;
        font-size: 18px;
        line-height: 22px;
        max-width: 410px;
      }

      @include largeDesktop() {
        margin-top: 40px;
        font-size: 24px;
        line-height: 29px;
      }
    }

    a {
      height: 17px;
      margin-top: 25px;
      display: flex;
      justify-content: start;
      text-decoration: none;
      color: color(text-color-main);
      
      @include desktop() {
        height: 22px;
      }
      
      
      p {
        margin-top: 0;
        width: auto;
        font: {
          family: font(primary);
          size: 14px;
          weight: bold;
        };
        line-height: 17px;

        @include desktop() {
          font-size: 18px;
          line-height: 22px;
        }
      }
      
      span {
        margin-left: 15px;
        img {
          height: 20px;

          @include desktop() {
            height: 24px;
          }
        }
      }

    }

    
  }

  .banner {
    margin-top: 26px;

    img {
      width: 100%;

      @include desktop() {
        max-width: 737px;
      }
    }

    .card {
      width: 50%;
      min-width: 300px;
      padding-left: 19px;
      padding-top: 14px;
      padding-bottom: 25px;
      background-color: color(background);
      position: absolute;
      margin-top: -52px;
      margin-left: 10%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      @include desktop() {
        width: 40%;
        max-width: 410px;
        margin-left: 18%;
        padding-left: 22px;
        padding-top: 20px;
        padding-bottom: 29px;
      }

      @include largeDesktop() {
        padding-left: 26px;
        padding-top: 23px;
        padding-bottom: 34px;
      }

      .userInformation {
        display: flex;

        img {
          width: 12.2%;
          height: 20%;
          border-radius: 50%;
        }

        .userDescription {
          margin-left: 14px;
          font-family: font(primary);
          
          @include largeDesktop() {
            margin-left: 19px;
          }

          h2 {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;

            @include desktop() {
              font-size: 13px;
              line-height: 16px;
            }

            @include largeDesktop() {
              font-size: 14px;
              line-height: 17px;
            }
          }

          p {
            margin-top: 5px;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: color(text-color-secondary);

            @include desktop() {
              font-size: 11px;
              line-height: 13px;
            }

            @include largeDesktop() {
              margin-top: 8px;
              font-size: 12px;
              line-height: 15px;
            }
          }

        }
      }

      .description {
        margin-top: 18.25px;

        @include desktop() {
          margin-top: 25px;
        }

        p {
          font: {
            family: font(secondary);
            size: 18px;
            weight: 700;
          }
          line-height: 23px;

          @include desktop() {
            font-size: 20px;
            line-height: 25px;
          }

          @include largeDesktop() {
            font-size: 24px;
            line-height: 31px;
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding-bottom: 24px;
  margin-top: calc(138px - 52px + 61px);

  @include largeDesktop() {
    margin-top: calc(189px - 52px + 128px);
  }
  
  p {
    color: color(text-color-footer);
    font: {
      family: font(primary);
      size: 14px;
      weight: 500;
    }
    line-height: 17px;

    a {
      font-weight: 700;
      color: color(text-color-footer);
      
    }
  }
}